@use 'src/styles/variables' as vars;
@use "sass:color";

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input {
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 4px;
    outline: none;
  }

  button {
    background-color: $primary-color;
    border: none;
    padding: 0.5rem 1rem;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.adjust($color-primary, $lightness: 10%);
    }
  }
}
